*{
    margin:0;
    padding:0;
    border:none;
}

html,
body{
    height:100%;
    width:100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main{
    height:220px;
    width:100px;
    border:2px solid black;
    margin: 50px 50px;
    padding:40px 25px 25px 40px;
}

.main2{
    height:200px;
    width:80px;
    border:2px solid black;
    

}

.red{
    height:60px;
    width:60px;
    background-color: red;
    margin:2px;
    border:2px solid black;
    border-radius:50%;
    margin-left:7px;
}

.yellow{
    height:60px;
    width:60px;
    background-color: yellow;
    margin:2px;
    border:2px solid black;
    border-radius:50%;
    margin-left:7px;
}


.green{
    height:60px;
    width:60px;
    background-color: green;
    margin:2px;
    border:2px solid black;
    border-radius:50%;
    margin-left:7px;
}
